img {
    border: 3px solid blueviolet
}

#responsive {
    width: 50%;
    height: 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#responsive:hover {
    opacity: 0.7; /* talks about the value on how the transparency will it be. 
        Note: The lower the value the more transparent it is. */
        /* It make the image blurry */
}

/* Modal Background */
.modal {
    display: none; /* Hidden as default. */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0; /* No Left */
    top: 0; /* No Top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enables scroll if needed */
    background-color: rgb(0, 0, 0); /* Fall back colors */
    background-color: rgba(0, 0, 0, 0.9); /* Black with opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption the modal image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add an animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform:scale(0);
    } 
    to {
        -webkit-transform:scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    } 
    to {
        transform: scale(1);
    }
}

/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% image width on smaller screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}